.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #32012F;
}

.App-header {
  /* background-color: #243642; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E2F1E7;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}
.album, .todo, .register {
  color: #61dafb;
}
.register {
  cursor: pointer;
}
ul {
  list-style-type: none;
}

.nav {
  display: flex;
  gap: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border {
  border: solid 3px #629584;
  border-radius: 10%;
  margin: 3px;
}

button, .check-box {
  background-color: antiquewhite;
  cursor: pointer;
}

button {
  border-radius: 15px;
}

button:hover, .check-box:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  cursor: pointer;
}

.todo:focus, post:focus {
  border: 3px greenyellow solid;
}

.start-column {
  display: flex;
  align-items: center;
  gap: 30px;
}